.timer-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .heading {
    text-align: center;
    color: #333;
    font-size: 2rem;
    margin-bottom: 20px;
  }
  
  .status-section {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .status-active {
    color: green;
  }
  
  .status-inactive {
    color: red;
  }
  
  .subheading {
    font-size: 1.5rem;
    color: #555;
    margin-bottom: 10px;
  }
  
  .list {
    list-style-type: none;
    padding: 0;
  }
  
  .list-item {
    padding: 10px;
    margin-bottom: 8px;
    background-color: #e6e6e6;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
  }
  
  .green-times-list .list-item {
    background-color: #d4edda;
  }
  
  .no-data-message {
    text-align: center;
    color: #777;
    font-size: 1.2rem;
  }
  
  .vehicle-counts-section,
  .timers-section,
  .vehicle-counts-total-section {
    margin-bottom: 20px;
  }
  
  strong {
    color: #333;
  }
  